@media screen and (max-width: 600px) {
body{
  width: 300px;
  height: auto;
}
body{
  background-color: rgb(182, 157, 240);
}
div{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;   

}
/* Header */
#Header{
  display:flex;
  border: 1px solid black;
  margin: 5px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px black;
}
.header-container{
 display: flex;
}
p{
  word-spacing: 1px;
  line-height: 10px;
}
p{
  width: 300px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: gray;
}
.header-a{
  color: aliceblue;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul  li{
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  margin-top: 6px;
  margin-left: 25px;
  font-size: 7px;
  }
.header-section1{
  margin-top: 6px;
  margin-left: 37px;
}
.header-section2{
  width: 300px;
  float: left;
  height: 17px;
}

ul li a:hover {
  color: gray;
}


/* Home */
#Home{
  display: flex;
  flex-direction: row;
  justify-content: center;   
}
.home-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px; 
}
.home-container2{
  display: flex;
  flex-direction: row;

}
.home-section2{
  display: flex;
  flex-direction: row;
  margin: 5px;
  font-family: "Poppins", sans-serif;

}
.home-section3{
  width: 300px;
}

h1{
  font-size: 10px;
}
p{
  font-size: 5px;
}
.button{
  background: black;
  color: aliceblue;
  padding: 4px;
  margin: 4px;
  font-size: 5px;
  border-radius: 5px;
}
.button-container{
  display: inline;
  text-align: center;
}
.profile-pic{
  width: 300px;
  height: 187px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px;
}

/* About */
#About{
  display:flex;
  flex-direction: row;
  justify-content: center; 
}
h2{
  font-size: 10px;
  text-align: center;
}
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-section1{
  margin: 5px;

}
.about-section2{
  font-family: "Poppins", sans-serif;
width: 300px;
height: 112px;
}
.profile-pic2{
 width: 225px;
 height: 300px;
 border-radius: 7px;
 box-shadow: 1px 1px 1px 0px;
}

/* Skills */
#Skills{
  display:flex;
  flex-direction: row; 

}
h3{
  text-align: center;
}
.skills-container{
  display:flex;
  flex-direction: row;

}
.skills-section1{
    font-size: 10px;
    text-align: center;  
}
.skills-section2{
  box-shadow: 1px 1px 1px 0px black;
  border: 2px solid black;
  padding: 7px;
  font-size: 5px;
  border-radius: 5px;
}
.skills-icon{
width: 7px;
height: 7px;
}

/* Contact */
#Contact{
  display:flex;
  flex-direction: row;
  justify-content: center;   
  margin: 5px;

}
.contact-container{
  display: flex;
  flex-direction: row;
}

.contact-container2{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.contact-section1{
  border: 2px solid black;
  padding: 7px;
  font-size: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px black;
}

.footer{
  font-size: 4px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.liner{
  color: rgb(14, 15, 15);
}
}
